@using Nop.Services.Localization
@using Nop.Core
@inject ILocalizationService localizationService
@inject IStoreContext storeContext
@model bool

@{
    // Layout = "_CustomLayout";
    Layout = "_Root.Head";

    var homepageTitle = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageTitle);

    //title
    if (!string.IsNullOrEmpty(homepageTitle))
    {
        NopHtml.AddTitleParts(homepageTitle);
    }

    var homepageDescription = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageDescription);

    //meta
    if (!string.IsNullOrEmpty(homepageDescription))
    {
        NopHtml.AddMetaDescriptionParts(homepageDescription);
    }

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
}

<style>
    body{background-color: #30333a;overflow: hidden;}
    .temp{display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;}
    .login-btn{text-decoration: none; background-color: #38ad90; color: white; border-color: #38ad90; border: 1px solid #404040; margin-top: 25px; border-radius: 2px !important; line-height: 44px !important; height: 44px !important; text-transform: uppercase; font-size: 12px !important; padding: 0 25px !important; font-weight: 600 !important; font-size:14px; position: relative; display: inline-block; white-space: nowrap; text-align: center; background-image: none; transition: all .3s cubic-bezier(.645,.045,.355,1); user-select: none; touch-action: manipulation; box-shadow: 0 2px 0 rgba(0,0,0,.045); text-shadow: 0 -1px 0 rgba(0,0,0,.12); }
    .login-btn:hover{color:#fff;}
    .brand-logo { margin:auto; padding:15px; max-width:412px;}

    .app-title {
        margin-top: 0;
        color: #fff;
        font-weight: 100;
        font-size: 50px;
        margin-bottom: 17px;
        line-height: 2;
        text-align: center;
    }

    .buttons {
        text-align: center;
    }
</style>

<div class="page login-page">

    <div class="user-layout p-0">
        <div class="row login-wrapper">
            <div class="login-image col-12 col-md-10 col-lg-10 col-xl-10 d-none d-sm-block d-md-block col-12 col-md-10 col-lg-10 col-xl-10 p-0"></div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-6 col-sm-12 col-md-6 col-lg-5 col-xl-6 p-0">
                <div class="brand-logo">
                    <div class="page-title">
                        <h2 class="app-title">@T("Platform.Company.Name")</h2>
                    </div>
                    <div>
                        <img src="@Url.Content("~/Themes/InvestApp/Content/images/stock-logo.svg")" alt="Logo" />
                    </div>

                    <div class="returning-wrapper fieldset">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="buttons">
                                    @{
                                        if (!Model)
                                        {
                                            <a class="button-1 login-button log-btn" href="@Url.RouteUrl("Login")">Login</a>
                                        }
                                        else
                                        {
                                            <a class="button-1 login-button log-btn" href="@Url.RouteUrl("Dashboard")">Dashboard</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-links ">
                    <a class="reg-btn" href="/about-us">About</a>|
                    <a class="reg-btn" href="@Url.RouteUrl("ContactUs")">Contact</a>|
                    <a class="reg-btn" href="#">Help</a>

                </div>
                <div class="copyright">
                    <p>
                        Copyright © 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>