@using Nop.Core
@model CustomerInfoModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_CustomLayout";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-customer-info-page");
}

@*
@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.Info })
}
*@

<div class="page account-page customer-info-page">

    <div class="custom-tabs-wrapper">
        <div class="tabs-header">
            <h2 class="tabs-heading">@T("Account.Setting")</h2>
            <div class="tabs-navigation">
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)" data-id="accountTab">Account</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-id="settignsTab">Settings</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-id="helpcenterTab">Help Center</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-id="disclosureTab">Disclosure</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tabs-content">
            <div id="accountTab" class="tab from-left-animation active">

                <div class="col-xl-10">
                    <div class="custom-tab-container">
                        <div id="investmentSection" class="title my-25">
                            <h2>@T("Account.Account")</h2>
                        </div>

                        <div class="form-block">
                            <div class="inputs">
                                <label>@T("Account.firstname")</label>
                                <span>
                                    <input placeholder="First Name" name="name" type="text" />
                                </span>
                            </div>
                            <div class="inputs">
                                <label>@T("Account.lastname")</label>
                                <span>
                                    <input placeholder="Last Name" name="name" type="text" />
                                </span>
                            </div>
                            <div class="inputs">
                                <label>@T("Account.emailaddress")</label>
                                <span>
                                    <input placeholder="Email address" name="name" type="text" />
                                </span>
                            </div>
                            <div class="inputs">
                                <label>@T("Account.phonenumber")</label>
                                <span>
                                    <input placeholder="Phone Number" name="name" type="number" />
                                </span>
                            </div>
                            <div class="buttons">
                                <button type="button" class="custom-btn btn-success save-customer-info-button">@T("Account.UpdateAccount")</button>
                            </div>
                        </div>


                        <div class="title mt-50">
                            <h2>@T("Account.DeleteAccount")</h2>
                        </div>
                        <div class="form-block">
                            <div class="inputs">
                                <label>@T("Account.DeleteUserAccount")</label>
                                <span class="buttons">
                                    <button type="button" class="custom-btn btn-danger delete-customer-info-button">@T("Account.UpdateAccount")</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div id="settignsTab" class="tab from-left-animation">
                <div class="row">
                    <div class="col-xl-2">
                        <ul class="secondary-sidebar">
                            <li><a href="#investmentSection">Investment Profile</a></li>
                            <li><a href="#tradingSection">Trading Account</a></li>
                            <li><a href="#simulationSetion">Simulation Amount</a></li>
                            <li><a href="#securitySetion">Security</a></li>
                            <li><a href="#preferenceSetion">Preference</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-10">
                        <div class="custom-tab-container">

                            <div id="tradingSection" class="title my-25">
                                <h2>@T("Account.investment")</h2>
                            </div>
                            <div class="form-block">
                                <div class="inputs">
                                    <label>@T("Account.Goal")</label>
                                    <span>
                                       <nop-select asp-for="GoalId" asp-items="Model.AvailableGoal" />
                                    </span>
                                </div>
                                <div class="inputs">
                                    <label>@T("Account.Timeline")</label>
                                    <span>
                                        <nop-select asp-for="TimelineId" asp-items="Model.AvailableTimeline" />
                                    </span>
                                </div>
                                <div class="inputs">
                                    <label>@T("Account.Experience")</label>
                                    <span>
                                        <nop-select asp-for="ExperienceId" asp-items="Model.AvailableExperience" />
                                    </span>
                                </div>
                                <div class="inputs">
                                    <label>@T("Account.RiskTolerance")</label>
                                    <span>
                                        <nop-select asp-for="RiskToleranceId" asp-items="Model.AvailableRiskTolerance" />
                                    </span>
                                </div>
                            </div>

                            <div id="securitySetion" class="title mt-50">
                                <h2>@T("Account.investment")</h2>
                            </div>
                            <div class="form-block">
                                <div class="inputs">
                                    <label>@T("Account.Security")</label>
                                    <span>
                                        <label class="custom-switch">
                                            <input type="checkbox" name="TwoFactorAuthentication" />
                                            <span class="custom-slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            </div>

                            <div class="title mt-50">
                                <h2>@T("Account.Alerts")</h2>
                            </div>
                            <div class="form-block">
                                <div class="inputs">
                                    <label>@T("Account.Email")</label>
                                    <span>
                                        <label class="custom-switch">
                                            <input type="checkbox" name="EmailAlert" />
                                            <span class="custom-slider round"></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="inputs">
                                    <label>@T("Account.Text")</label>
                                    <span>
                                        <label class="custom-switch">
                                            <input type="checkbox" name="TextAlert" />
                                            <span class="custom-slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            </div>

                            <div id="preferenceSetion" class="title mt-50">
                                <h2>@T("Account.Preference")</h2>
                            </div>
                            <div class="form-block">
                                <div class="inputs">
                                    <label>@T("Account.Theme")</label>
                                    <span>
                                        <select class="form-select" id="selectTheme" aria-label="Default select example">
                                            <option> </option>
                                            <option value="dark">Dark</option>
                                            <option value="grey">Grey</option>
                                            <option value="egg-white">Egg White</option>
                                            <option value="light">Light</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="helpcenterTab" class="tab from-left-animation">
                <h1>Test</h1>
            </div>
            <div id="disclosureTab" class="tab from-left-animation">
                <h1>Test</h1>
            </div>
        </div>
    </div>
</div>

<!-- <nop-label asp-for="InvestmentApproachId" />
<nop-select asp-for="InvestmentApproachId" asp-items="Model.AvailableInvestmentApproach" /> -->

<script>
    $(document).ready(function () {
        var selectedTheme = localStorage.getItem('selectedTheme');

        if (selectedTheme) {
            $('html').addClass(selectedTheme);
            $('#selectTheme').val(selectedTheme);
        }

        $('#selectTheme').change(function () {
            var selectedValue = $(this).val();
            $('html').removeClass('dark grey egg-white light');
            if (selectedValue === 'dark') {
                $('html').addClass('dark');
            } else if (selectedValue === 'grey') {
                $('html').addClass('grey');
            } else if (selectedValue === 'egg-white') {
                $('html').addClass('egg-white');
            } else if (selectedValue === 'light') {
                $('html').addClass('light');
            }

            localStorage.setItem('selectedTheme', selectedValue);
        });
    });
</script>