@model TransactionModel

@{
    Layout = "_CustomLayout";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Invest").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}


<div class="page invest-page">
    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 page-title-header pb-1 mb-4">
                    <h2 class="page-title">@T("Account.invest")</h2>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-xl-5">
                    <form class="invest-form mb-5" method="post">
                        <label class="mb-2">@T("Account.deposit.amount")</label>
                        <nop-antiforgery-token />
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <nop-editor asp-for="TransactionAmount" />
                        <div class="d-flex flex-wrap align-items-center justify-content-between w-100 mb-5">
                            <span class="text-primary invest-amount-btn p-1 px-2" data-text="1000">@(Model.CurrencySymbol)1000</span>
                            <span class="text-primary invest-amount-btn p-1 px-2" data-text="2000">@(Model.CurrencySymbol)2000</span>
                            <span class="text-primary invest-amount-btn p-1 px-2" data-text="2500">@(Model.CurrencySymbol)2500</span>
                            <span class="text-primary invest-amount-btn p-1 px-2" data-text="5000">@(Model.CurrencySymbol)5000</span>
                            <span class="text-primary invest-amount-btn p-1 px-2" data-text="10000">@(Model.CurrencySymbol)10000</span>
                        </div>
                        <div class="buttons">
                            <label class="mb-2">
                                <a href="">@T("Account.Deposit.methods")</a>
                                <span class="float-end">@T("Account.selected.method")</span>
                            </label>
                            <button type="submit" class="custom-btn btn-success w-100 funding-sumbit">@T("Customer.Invest.Continue")</button>
                        </div>
                    </form>

                    <div class="invest-cards-group d-flex flex-wrap gap-2 w-100 mt-3">
                        <div class="invest-card border w-100 p-3">
                            <div class="invest-wrapper">
                                <span class="card-title d-block h5 mb-4">@T("Customer.RecentTransactions")</span>
                                @foreach (var item in Model.RecentTransactions)
                                {
                                    <div class="d-flex align-items-center justify-content-between w-100 mb-3">
                                        <span class="d-flex flex-wrap">
                                            <span class="h6">@item.TransactionNote<br /><span>@item.CreateOnUtc.ToShortDateString()</span></span>
                                        </span>
                                        <span>@item.FormattedTransactionAmount</span>
                                    </div>    
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var selectedAmount = 0;

    $(document).on("click", ".invest-amount-btn", function () {
        var that = $(this);
        selectedAmount = parseFloat(that.attr("data-text"));
        $("#TransactionAmount").val(selectedAmount);
        updateSubmitButtonState();
    });

    $('.funding-sumbit').prop('disabled', true);

    $('#TransactionAmount').on('input', function () {
         selectedAmount = parseFloat($(this).val());
        updateSubmitButtonState();
    });

    function updateSubmitButtonState() {
        var inputValue = parseFloat($('#TransactionAmount').val());

        if (inputValue === selectedAmount && inputValue > 0) {
            console.log('Enabling button');
            $('.funding-sumbit').prop('disabled', false);
        } else {
            console.log('Disabling button');
            $('.funding-sumbit').prop('disabled', true);
        }
    }

</script>
