@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<style>
    .password-recovery-layout { display: flex; flex-direction: column; height: 100vh; overflow: hidden; background: #090d16; align-items: center; justify-content: center; }
    .password-recovery-wrapper{ display: flex; width: 100%; align-items: center; }
    .password-recovery { background-image: url('https://source.unsplash.com/featured/?nature='); background-size: cover; background-position: 50%; background-repeat: none; flex-shrink: 1; flex-basis: 50%; height: 100vh; flex-grow: 1; max-width: 100%; }
    .password-recovery-page { margin-left: 52px; margin-right: 52px; padding: 15px; max-width: 412px; }
    .password-recover-inputs input{ height: 40px; padding: 6px 11px 6px 30px; font-size: 16px; box-sizing: border-box; margin: 0; list-style: none; font-feature-settings: "tnum","tnum"; display: inline-block; width: 100%; color: #fff; line-height: 1.5; background-color: #30333a; background-image: none; border: 1px solid #404040; border-radius: 4px; transition: all .3s; margin-bottom: 25px; }
    .password-recover-inputs input:focus, .password-recover-inputs input:hover, .password-recover-inputs input:focus-visible { border-color: #46dbaa !important; border-right-width: 1px !important; outline: none; }
    .password-recover-inputs { position: relative;  }
    .password-recover-inputs {min-height:68px;position:relative;}
    .new-password-button{ background-color: #38ad90; color: white; border-color: #38ad90; border: 1px solid #404040; margin-top: 25px; border-radius: 2px !important; line-height: 44px !important; height: 44px !important; text-transform: uppercase; font-size: 12px !important; padding: 0 25px !important; font-weight: 600 !important; font-size:14px; position: relative; display: inline-block; white-space: nowrap; text-align: center; background-image: none; transition: all .3s cubic-bezier(.645,.045,.355,1); user-select: none; touch-action: manipulation; box-shadow: 0 2px 0 rgba(0,0,0,.045); text-shadow: 0 -1px 0 rgba(0,0,0,.12); }
    .new-password-button:focus, .new-password-button:hover { color: #fff; background-color: #38ad90;border-color: #38ad90;}
    .password-recovery-page .result-wrapper .buttons a{color: #38ad90; text-decoration: none; font-size: 18px;}
    .password-recovery-page .result-wrapper .buttons a:hover{color: #38ad90;}
     .password-recovery-page .result-wrapper .result {font-size:15px;}

</style>
<div class="page password-recovery-layout">
    <div class="row password-recovery-wrapper">
        <div class="password-recovery col-12 col-md-10 col-lg-10 col-xl-10 d-none d-sm-block d-md-block col-12 col-md-10 col-lg-10 col-xl-10 p-0"></div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-6 col-sm-12 col-md-6 col-lg-5 col-xl-6 p-0">
                <div class="password-recovery-page">
                    <div class="page-title">
                        <h1>@T("Account.PasswordRecovery")</h1>
                    </div>
                    <div class="page-body">
                        @if (!string.IsNullOrEmpty(Model.Result))
                        {
                            <div class="result-wrapper">
                                <div class="result">
                                    @Model.Result
                                </div>
                                <div class="buttons mt-2">
                                    <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
                                </div>
                            </div>
                        }
                        @if (!Model.DisablePasswordChanging)
                        {
                            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off" class="mt-3">
                                <div asp-validation-summary="ModelOnly" class="message-error error-color"></div>
                                <div class="fieldset">
                                    <div class="form-fields">
                                        <div class="inputs password-recover-inputs">
                                            <label asp-for="NewPassword" asp-postfix=":"></label>
                                            <nop-required />
                                            <input asp-for="NewPassword" />
                                            <span asp-validation-for="NewPassword" class="error-color"></span>
                                        </div>
                                        <div class="inputs password-recover-inputs">
                                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                                            <nop-required />
                                            <input asp-for="ConfirmNewPassword" />
                                            <span asp-validation-for="ConfirmNewPassword" class="error-color"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="submit" name="set-password" class="button-1 new-password-button">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>