@model RegisterModel

@{
    Layout = "_Root.Head";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-registration-page");
}

<style>

    .form-layout{ display: flex; flex-direction: column; height: 100vh; overflow: auto; background: #090d16; }
    .registerWrapper { display: flex; height: 100%; overflow: hidden; width: 100%; }
    .formWrap { min-width: 60%; padding: 25px; display: flex; align-items: center; justify-content: center; flex-grow: 1; overflow-y: auto; }
    .formWrap .form { width: 650px; max-width: 100%; }
    .reg-form{ -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; color: #fff; font-size: 14px; font-variant: tabular-nums; line-height: 1.5; list-style: none; -webkit-font-feature-settings: "tnum","tnum"; font-feature-settings: "tnum","tnum"; }
    .reg-title{ padding-bottom: 15px; }
    .reg-inputs{ -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; color: #fff; font-size: 14px; font-variant: tabular-nums; line-height: 1.5; list-style: none; -webkit-font-feature-settings: "tnum","tnum"; font-feature-settings: "tnum","tnum"; margin: 0 0 24px; vertical-align: top; }
    .reg-inputs input{ height: 40px; padding: 6px 11px 6px 30px; font-size: 16px; box-sizing: border-box; margin: 0; list-style: none; font-feature-settings: "tnum","tnum"; display: inline-block; width: 100%; color: #fff; line-height: 1.5; background-color: #30333a; background-image: none; border: 1px solid #404040; border-radius: 4px; transition: all .3s; }
    .reg-inputs input:focus, .reg-inputs input:hover, .reg-inputs input:focus-visible { border-color: #46dbaa !important; border-right-width: 1px !important; outline: none; }
    .reg-btn{ border-radius: 2px!important; line-height: 44px!important; height: 44px!important; text-transform: uppercase; font-size: 12px!important; padding: 0 25px!important; font-weight: 600!important; background-color: rgb(56, 173, 144); color: white; border-color: rgb(69, 214, 168); text-shadow: 0 -1px 0 rgba(0,0,0,.12); box-shadow: 0 2px 0 rgba(0,0,0,.045); position: relative; display: inline-block; white-space: nowrap; text-align: center; background-image: none; transition: all .3s cubic-bezier(.645,.045,.355,1); border: 1px solid #404040; }
    .site-instruction { margin: 50px 0 0; color: #424e5a; }
    .textWrap { width: 650px; background: #313942; padding: 50px 200px 50px 50px; flex-direction: column; display: flex; justify-content: center; color: #aaa; line-height: 34px; overflow-y: auto; }
    .textWrap h3 {font-size:16.5px;color:#fff;margin-top: 20px;}
    .textWrap p {font-size:14px;}
    .site-instruction p {font-size: 14px;}
    .reg-title h3 {font-size:16.5px;}
    .reg-title p {font-size:14px;}
    ::-webkit-scrollbar-track{background:#202328;}
    ::-webkit-scrollbar-thumb{background:#37393E; border-radius: 3px;}
    ::-webkit-scrollbar { width: 10px; }

    @@media (max-width: 1200px){
        .textWrap {
        padding: 50px;
        }
    }
    @@media (max-width: 900px){
        .textWrap {
            width: 100%;
            padding: 50px;
        }
        .registerWrapper {
            flex-direction: column;
            height: auto;
            overflow: unset;
        }
    }
</style>

<div class="page registration-page">
    <!-- <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div> -->
    <div class="form-layout">
        <div class="registerWrapper">
            <div class="formWrap">
                <div class="form">
                    <form class="form-horizontal reg-form">
                        <div class="row">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col wrapperSection">
                                    <div>
                                        <div class="reg-title text-left">
                                            <h3>Start Trading Smarter</h3>
                                            <p>Intelligent Stocks helps you invest your money by automating trades with AI</p>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                         @if (Model.GenderEnabled)
                                                            {
                                                                <div class="mb-4">
                                                                    <label for="gender">@T("Account.Fields.Gender"):</label>
                                                                    <div id="gender" class="gender">
                                                                        <span class="male">
                                                                            <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                                                            <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                                                        </span>
                                                                        <span class="female">
                                                                            <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                                                            <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                                                        </span>
                                                                        @if (Model.NeutralGenderEnabled)
                                                                        {
                                                                            <span class="Neutral">
                                                                                <input type="radio" asp-for="Gender" value="N" checked="@(Model.Gender == "N")" id="gender-neutral" />
                                                                                <label class="forcheckbox" for="gender-neutral">@T("Account.Fields.Gender.Neutral")</label>
                                                                            </span>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.FirstNameEnabled)
                                                        {
                                                            <div class="reg-inputs">
                                                                <!-- <label asp-for="FirstName" asp-postfix=":"></label> -->
                                                                <input placeholder="First Name @(Model.FirstNameRequired ? "*" : "")" asp-for="FirstName" />
                                                                <span asp-validation-for="FirstName"></span>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.LastNameEnabled)
                                                        {
                                                            <div class="reg-inputs">
                                                                <!-- <label asp-for="LastName" asp-postfix=":"></label> -->
                                                                <input placeholder="Last Name @(Model.LastNameRequired ? "*" : "")" asp-for="LastName" />
                                                                <span asp-validation-for="LastName"></span>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.DateOfBirthEnabled)
                                                            {
                                                                <div class="reg-inputs date-of-birth">
                                                                    <label>@T("Account.Fields.DateOfBirth"):</label>
                                                                    @if (Model.DateOfBirthRequired)
                                                                    {
                                                                        <nop-required />
                                                                    }
                                                                    <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                                                    asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                                                    asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                                                    asp-begin-year="@(DateTime.Now.AddYears(-110))"
                                                                                    asp-end-year="@(DateTime.UtcNow)"
                                                                                    asp-selected-date="@Model.ParseDateOfBirth()" />

                                                                    <span asp-validation-for="DateOfBirthDay"></span>
                                                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                                                    <span asp-validation-for="DateOfBirthYear"></span>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                         <div class="reg-inputs">
                                                            <!-- <label asp-for="Email" asp-postfix=":"></label> -->
                                                            <input placeholder="Email * " asp-for="Email" />
                                                            <span asp-validation-for="Email"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.EnteringEmailTwice)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="ConfirmEmail" asp-postfix=":"></label> -->
                                                                    <input placeholder="Confirm Email * " asp-for="ConfirmEmail" />
                                                                    <span asp-validation-for="ConfirmEmail"></span>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.UsernamesEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="Username" asp-postfix=":"></label> -->
                                                                    <input placeholder="Username * " asp-for="Username" />
                                                                    <span asp-validation-for="Username"></span>
                                                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                                                    {
                                                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                                                    }
                                                                </div>

                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                                                            {
                                                                <div class="fieldset">
                                                                    <div class="title">
                                                                        <!-- <strong>@T("Account.CompanyDetails")</strong> -->
                                                                    </div>
                                                                    <div class="form-fields">
                                                                        @if (Model.CompanyEnabled)
                                                                        {
                                                                            <div class="reg-inputs">
                                                                                <!-- <label asp-for="Company" asp-postfix=":"></label> -->
                                                                                
                                                                                <input placeholder="Company Name @(Model.CompanyRequired ? "*" : "")" asp-for="Company" />
                                                                                <span asp-validation-for="Company"></span>
                                                                            </div>
                                                                        }
                                                                        @if (Model.DisplayVatNumber)
                                                                        {
                                                                            <div class="reg-inputs">
                                                                                <!-- <label asp-for="VatNumber" asp-postfix=":"></label> -->
                                                                                <input placeholder="Vat Number" asp-for="VatNumber" />
                                                                                <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.StreetAddressEnabled ||
                                                            Model.StreetAddress2Enabled ||
                                                            Model.ZipPostalCodeEnabled ||
                                                            Model.CityEnabled ||
                                                            Model.CountyEnabled ||
                                                            Model.CountryEnabled)
                                                        {
                                                        @if (Model.StreetAddressEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="StreetAddress" asp-postfix=":"></label> -->
                                                                    <input placeholder="Street Address @(Model.StreetAddressRequired ? "*" : "")" asp-for="StreetAddress" />
                                                                    <span asp-validation-for="StreetAddress"></span>
                                                                </div>
                                                            }
                                                   
                                                        @if (Model.StreetAddress2Enabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="StreetAddress2" asp-postfix=":"></label> -->
                                                                    <input placeholder="Street Address 2 @(Model.StreetAddress2Required ? "*" : "")" asp-for="StreetAddress2" />
                                                                    <span asp-validation-for="StreetAddress2"></span>
                                                                </div>
                                                            }
                                                    
                                                        @if (Model.ZipPostalCodeEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="ZipPostalCode" asp-postfix=":"></label> -->
                                                                    <input placeholder="Zip Postal Code @(Model.ZipPostalCodeRequired ? "*" : "")" asp-for="ZipPostalCode" />
                                                                    <span asp-validation-for="ZipPostalCode"></span>
                                                                </div>
                                                            }
                                                    
                                                        @if (Model.CountyEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="County" asp-postfix=":"></label> -->
                                                                    <input placeholder="County @(Model.CountyRequired ? "*" : "")" asp-for="County" />
                                                                    <span asp-validation-for="County"></span>
                                                                </div>
                                                            }
                                                    
                                                        @if (Model.CityEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <!-- <label asp-for="City" asp-postfix=":"></label> -->
                                                                    <input placeholder="City @(Model.CityRequired ? "*" : "")" asp-for="City" />
                                                                    <span asp-validation-for="City"></span>
                                                                </div>
                                                            }
                                                    
                                                        @if (Model.CountryEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                                                    @if (Model.CountryRequired)
                                                                    {
                                                                        <nop-required />
                                                                    }
                                                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                                                                            data-trigger="country-select"
                                                                            data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                                                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                                                            data-loading="#states-loading-progress">
                                                                    </select>
                                                                    <span asp-validation-for="CountryId"></span>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                                            {
                                                                <div class="reg-inputs">
                                                                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                                                    @if (Model.StateProvinceRequired)
                                                                    {
                                                                        <nop-required />
                                                                    }
                                                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait")</span>
                                                                    <span asp-validation-for="StateProvinceId"></span>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.PhoneEnabled || Model.FaxEnabled)
                                                            {
                                                                <div class="fieldset">
                                                                    <div class="title">
                                                                        <!-- <strong>@T("Account.YourContactInformation")</strong> -->
                                                                    </div>
                                                                    <div class="form-fields">
                                                                        @if (Model.PhoneEnabled)
                                                                        {
                                                                            <div class="reg-inputs">
                                                                                <!-- <label asp-for="Phone" asp-postfix=":"></label> -->
                                                                                <input placeholder="Phone @(Model.PhoneRequired ? "*" : "")" asp-for="Phone" />
                                                                                <span asp-validation-for="Phone"></span>
                                                                            </div>
                                                                        }
                                                                        @if (Model.FaxEnabled)
                                                                        {
                                                                            <div class="reg-inputs">
                                                                                <!-- <label asp-for="Fax" asp-postfix=":"></label> -->
                                                                                @if (Model.FaxRequired)
                                                                                {
                                                                                    <nop-required />
                                                                                }
                                                                                <input placeholder="Fax" asp-for="Fax" />
                                                                                <span asp-validation-for="Fax"></span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.AllowCustomersToSetTimeZone)
                                                            {
                                                                <div class="fieldset">
                                                                    <div class="title">
                                                                        <!-- <strong>@T("Account.Preferences")</strong> -->
                                                                    </div>
                                                                    <div class="form-fields">
                                                                        <div class="reg-inputs">
                                                                            <label asp-for="TimeZoneId" asp-postfix=":"></label>
                                                                            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                                                            <span asp-validation-for="TimeZoneId"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <div class="reg-inputs">
                                                            <!-- <label asp-for="Password" asp-postfix=":"></label> -->
                                                            <input placeholder="Password * " asp-for="Password" />
                                                            <span asp-validation-for="Password"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <div class="reg-inputs">
                                                            <!-- <label asp-for="ConfirmPassword" asp-postfix=":"></label> -->
                                                            <input placeholder="ConfirmPassword * " asp-for="ConfirmPassword" />
                                                            <span asp-validation-for="ConfirmPassword"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.DisplayCaptcha)
                                                            {
                                                                <nop-captcha />
                                                            }
                                                            @if (Model.HoneypotEnabled)
                                                            {
                                                                @Html.Raw(Html.GenerateHoneypotInput())
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                                                            {
                                                                <div class="fieldset">
                                                                    <div class="title">
                                                                        <!-- <strong>@T("Account.Options")</strong> -->
                                                                    </div>
                                                                    <div class="form-fields">
                                                                        @if (Model.NewsletterEnabled)
                                                                        {
                                                                            <div class="mb-4">
                                                                                <label asp-for="Newsletter" asp-postfix=":"></label>
                                                                                <input asp-for="Newsletter" />
                                                                                <span asp-validation-for="Newsletter"></span>
                                                                            </div>
                                                                        }
                                                                        @if (Model.CustomerAttributes.Count > 0)
                                                                        {
                                                                            @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
                                                            {
                                                                <div class="fieldset">
                                                                    <div class="title">
                                                                        <strong>@T("Account.UserAgreement")</strong>
                                                                    </div>
                                                                    <div class="form-fields">
                                                                        @if (Model.AcceptPrivacyPolicyEnabled)
                                                                        {
                                                                            <script asp-location="Footer">
                                                                                $(document).ready(function() {
                                                                                    $('#register-button').on('click', function() {
                                                                                        if ($('#accept-consent').is(':checked')) {
                                                                                            //do some stuff
                                                                                            return true;
                                                                                        } else {
                                                                                            //just show validation errors, don't post
                                                                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                                                                            return false;
                                                                                        }
                                                                                    });
                                                                                });
                                                                            </script>
                                                                            <div class="reg-inputs accept-consent">
                                                                                <input id="accept-consent" type="checkbox" name="accept-consent" />
                                                                                <label for="accept-consent">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                                                                @if (Model.AcceptPrivacyPolicyPopup)
                                                                                {
                                                                                    <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                                                                    <script asp-location="Footer">
                                                                                    $(document).ready(function() {
                                                                                        $('#read-privacyinfo').on('click',
                                                                                            function(e) {
                                                                                                displayPopupContentFromUrl(
                                                                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                                                                            });
                                                                                    });
                                                                                    </script>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a class="read" id="read-privacyinfo" href="@Url.RouteTopicUrl("privacyinfo")">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                                                                }
                                                                            </div>
                                                                        }

                                                                        @if (Model.GdprConsents.Count > 0)
                                                                        {
                                                                            foreach (var consent in Model.GdprConsents)
                                                                            {
                                                                                if (consent.IsRequired)
                                                                                {
                                                                                    <script asp-location="Footer">
                                                                                    $(document).ready(function() {
                                                                                        $('#register-button').on('click', function() {
                                                                                            if ($('#consent@(consent.Id)').is(':checked')) {
                                                                                                    //do some stuff
                                                                                                    return true;
                                                                                                } else {
                                                                                                    //just show validation errors, don't post
                                                                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                                                                    return false;
                                                                                                }
                                                                                            });
                                                                                    });
                                                                                    </script>
                                                                                }
                                                                                <div class="reg-inputs accept-consent">
                                                                                    <input id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                                                                    <label for="consent@(consent.Id)">@consent.Message</label>
                                                                                </div>
                                                                            }

                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div>
                        <div class="buttons">
                            <button type="submit" name="register-button" id="register-button" class="button-1 register-next-step-button reg-btn">@T("Account.Register.Button")</button>
                        </div>
                    </form>
                    <div class="site-instruction">
                        <p>All investments involve risk, including the possible loss of principal. Investors should consider their investment objectives and risks carefully before investing.</p>
                    </div>
                </div>
            </div>
            <div class="textWrap">
                    <h3 >Automated Stock Picks</h3>
                    <p>We keep the stock picks updated based on multiple factors in the market and algorithm.</p>

                    <h3 >Simulate Portfolio</h3>
                    <p>The AI model trades with its stock picks by using the simulator amount provided.</p>

                    <h3 >Automated Stock Allocations</h3>
                    <p>The number of shares for stock picks are automatically allocated based on simulator amount.</p>

                    <h3 >Trade Notification</h3>
                    <p>Stay up-to-date by email or texts on new stock picks and stocks to sell.</p>
                </div>
        </div>
    </div>

    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.RegisterTop, additionalData = Model })
        
        <div class="external-authentication">
            @await Component.InvokeAsync(typeof(ExternalMethodsViewComponent), "ExternalAuthentication")
        </div>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.RegisterBottom, additionalData = Model })
    </div> 
</div>