@using Nop.Core.Domain.Transaction;
@model WithdrawModel

@{
    Layout = "_CustomLayout";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Withdraw").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}

<style>
    .bank-radio {
        display: flex !important;
        flex-direction: row;
        align-items: baseline;
    }

    .child-item,
    .fields {
        display: none;
        flex-wrap: wrap;
    }

    .child-item {display: block;}

    .item.active .child-item {
        display: block;
    }

    .child-item.active .fields {
        display: flex;
    }

    .wallet-name,.fields{
        margin-left:30px;
    }

    .custom-payment-method {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border: 1px solid #424242;
    }

    .input-option {
        display: none;
    }

    .method-box {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
    }

    .payment-logo img {
        max-width: 50px;
        margin-right: 10px;
    }

    .payment-details {
        flex: 1;
    }

    .payment-description {
        font-size: 12px;
        color: #777;
    }

    .input-option:checked + .method-box {
        border-color: #28a745;
        background-color: #d4edda;
    }

    a.button {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #1cb183;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    .info-input{
        position: relative;
        width: 350px !important;
        height: 32px  !important;
        padding: 4px 11px;
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        background-color: #30333a;
        border: 1px solid #404040;
        border-radius: 4px 
    }

 .child-item.active .fields {
    display: block !important;
 }
</style>

<div class="page withdraw-page">
    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 page-title-header pb-1 mb-4">
                    <h2 class="page-title">@T("Account.withdraw")</h2>
                </div>
            </div>
            <form class="withdraw-form mb-5" method="post">
                <div class="row mb-5">
                    <div class="col-xl-4">
                        <label class="mb-2">@T("Account.withdraw.amount")</label>
                        <nop-antiforgery-token />
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <nop-editor asp-for="TransactionAmount" />
                        <div class="d-flex flex-wrap align-items-center justify-content-between w-100 mb-5">
                            <span class="text-primary withdraw-amount-btn p-1 px-2" data-text="1000">@(Model.CurrencySymbol)1000</span>
                            <span class="text-primary withdraw-amount-btn p-1 px-2" data-text="2000">@(Model.CurrencySymbol)2000</span>
                            <span class="text-primary withdraw-amount-btn p-1 px-2" data-text="2500">@(Model.CurrencySymbol)2500</span>
                            <span class="text-primary withdraw-amount-btn p-1 px-2" data-text="5000">@(Model.CurrencySymbol)5000</span>
                            <span class="text-primary withdraw-amount-btn p-1 px-2 allAmount" data-text="">@(Model.CurrencySymbol) All</span>
                        </div>
                        <!-- <div class="buttons">
                            <div class="mb-5">
                                <label>@T("Account.withdraw.Source")</label>
                        @* <span class="float-end">@T("Account.MyBank")</span> *@
                                <hr />
                                <nop-select asp-for="WalletTypeId" asp-items="Model.AvailableWalletType" class="text-box single-line" />

                                <nop-label asp-for="DisplayName" />
                                <nop-editor asp-for="DisplayName" />
                                <nop-label asp-for="AccountEmail" />
                                <nop-editor asp-for="AccountEmail" />
                                <nop-label asp-for="AccountPhoneNumber" />
                                <nop-editor asp-for="AccountPhoneNumber" />
                                <nop-label asp-for="AccountHandle" />
                                <nop-editor asp-for="AccountHandle" />
                                <nop-label asp-for="AccountWalletAddress" />
                                <nop-editor asp-for="AccountWalletAddress" />
                                <nop-label asp-for="AccountNumber" />
                                <nop-editor asp-for="AccountNumber" />
                                <nop-label asp-for="AccountHolderName" />
                                <nop-editor asp-for="AccountHolderName" />
                                <nop-label asp-for="SwiftBic" />
                                <nop-editor asp-for="SwiftBic" />
                                <nop-label asp-for="InstitutionName" />
                                <nop-editor asp-for="InstitutionName" />
                                <nop-label asp-for="InstitutionAddress" />
                                <nop-editor asp-for="InstitutionAddress" />
                            </div>
                            <button type="button" class="custom-btn btn-success w-100 withdraw-btn">@T("Customer.Withdraw.Continue")</button>
                        </div> -->

                        <div class="withdraw-cards-group d-flex flex-wrap gap-2 w-100 mt-3">
                            <div class="withdraw-card border w-100 p-3">
                                <div class="withdraw-wrapper">
                                    <span class="card-title d-block h5 mb-4">@T("Customer.RecentTransactions")</span>
                                    @foreach (var item in Model.RecentTransactions)
                                    {
                                        <div class="d-flex align-items-center justify-content-between w-100 mb-3">
                                            <span class="d-flex flex-wrap">
                                                <span class="h6">@item.TransactionNote<br /><span>@item.CreateOnUtc.ToShortDateString()</span></span>
                                            </span>
                                            <span>@item.FormattedTransactionAmount</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="buttons payment-methods-wrapper">
                            <div class="mb-5">
                                <label class="pb-4">@T("Account.Withdraw.methods")</label>
                                @{ var child_item_count = 0; var child_item_active = ""; }
                                @foreach (var item1 in Model.WithdrawalMethodModel)
                                {
                                    child_item_active = "";
                                    if(child_item_count == 0){
                                        child_item_active = "active";
                                    }
                                    <div class="item">
                                        @*
                                        <label class="custom-payment-method">
                                            <input class="input-option" type="radio" name="Wallet-type" />
                                            <div class="method-box">
                                                <div class="payment-logo">
                                                    <label for="digitalRadio">
                                                        <img src="@Url.Content("~/images/paymentMethods/digital.png")" alt="digitalRadio">
                                                    </label>
                                                </div>
                                                <div class="payment-details">
                                                    <h1>@item1.Name</h1>
                                                    <div class="payment-description">Pay by <span>@item1.Name</span></div>
                                                </div>
                                                <a href="/customer/info#digitalWallet" class="button">Change Digital Wallet</a>
                                            </div>
                                        </label>
                                        *@
                                        
                                        @foreach (var item2 in item1.Fields)
                                        {
                                            @* <div class="child-item @child_item_active">
                                               <div class="wallet-name">
                                                    <label class="custom-payment-method">
                                                        <input class="input-option" type="radio" name="WithdrawalMethodId" value="@item2.Id">
                                                        <div class="method-box">
                                                            <div class="payment-logo">
                                                                <label for="digitalRadio">
                                                                    <img src="@Url.Content("~/images/paymentMethods/digital.png")" alt="digitalRadio">
                                                                </label>
                                                            </div>
                                                            <div class="payment-details">
                                                                <h2>@item2.Name</h2>
                                                                <div class="payment-description">Pay by <span>@item2.Name</span></div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div> *@

                                            <div class="child-item">
                                                <div class="wallet-name">
                                                    <label class="custom-payment-method">
                                                        <input class="input-option" type="radio" name="WithdrawalMethodId" value="@item2.Id" id="@item2.Id">
                                                        <div class="method-box">
                                                            <div class="payment-logo">
                                                                <label for="digitalRadio">
                                                                    <img src="@Url.Content("~/images/paymentMethods/digital.png")" alt="digitalRadio">
                                                                </label>
                                                            </div>
                                                            <div class="payment-details">
                                                                <h2>@item2.Name</h2>
                                                                <div class="payment-description">Pay by <span>@item2.Name</span></div>
                                                            </div>
                                                            <a href="/customer/info#securitySection" class="button" style="">Edit</a>
                                                        </div>
                                                    </label>
                                                </div>
                                            
                                                <div class="fields row">
                                                    @foreach (var item3 in item2.Fields)
                                                    {                                                        
                                                        <div class="col-md-6">
                                                            <label>@item3.Name:</label>
                                                            <p class="info-input mt-2">@item3.Value</p>
                                                        </div>
                                                            
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    child_item_count++;
                                }
                            </div>
                            <button type="button" class="custom-btn btn-success w-100 withdraw-btn">@T("Customer.Withdraw.Continue")</button>
                        </div>
                    
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<script>
     var selectedAmount = 0;

    $(document).on("click", ".withdraw-amount-btn", function () {
        var that = $(this);
        selectedAmount = parseFloat(that.attr("data-text"));
        $("#TransactionAmount").val(selectedAmount);
        updateSubmitButtonState();
    });

    $('.withdraw-btn').prop('disabled', true);

    $('#TransactionAmount').on('input', function () {
         selectedAmount = parseFloat($(this).val());
        updateSubmitButtonState();
    });

    function updateSubmitButtonState() {
        var inputValue = parseFloat($('#TransactionAmount').val());

        if (inputValue === selectedAmount && inputValue > 0) {
            console.log('Enabling button');
            $('.withdraw-btn').prop('disabled', false);
        } else {
            console.log('Disabling button');
            $('.withdraw-btn').prop('disabled', true);
        }
    }
    
    $(document).on("click", "form .withdraw-btn", function () {
        var submitForm = true;
        var transactionAmount = parseFloat($('#TransactionAmount').val());
        $.ajax({
            url: "@Url.Action("GetInvestedAndCurrentBalance")", // Make sure this URL is correct
            method: "GET",
            dataType: "json",
            //data: $('#product-details-form').serializeArray(), // Serialize the form data
            success: function (data) {
                console.log(data); // Log the response data

                if (transactionAmount > (parseFloat(data.InvestedBalance.Balance) + parseFloat(data.CurrentBalance))) {
                    alert('@T("Customer.Withdraw.Transaction.NotEnoughBalance")');
                    console.log('a');
                    submitForm = false;

                }
                else if ((transactionAmount - parseFloat(data.CurrentBalance)) > 0 && parseFloat(data.InvestedBalance.Balance) > 0) {
                    if (!confirm(data.InvestedBalance.Message)) {
                        submitForm = false;
                    }
                    console.log('b');
                }

                if (submitForm) {
                    $("form.withdraw-form").submit();
                }
            }
        });
    });

    @* $(document).ready(function () {
        $('input[class="input-option"][type=radio]').on('change', function () {
            if ($(this).is(':checked')) {
                $('.crypto-fields, .bank-fields, .digital-fields').hide();

                var radioId = $(this).attr('id');

                $('.' + radioId.replace('Radio', '-fields')).show();
            }
        });

        $('input[class="input-option"][type=radio]:checked').trigger('change');
    });

    $(document).ready(function () {
        $('.input-option').on('change', function () {
            $('.item, .child-item').removeClass('active');

            $(this).parents('.item').addClass('active');

            $(this).parents('.child-item').addClass('active');
        });
    }); *@

    $(document).ready(function () {
        $('input[class="input-option"][type=radio]').on('change', function () {
            if ($(this).is(':checked')) {
                $('.child-item').removeClass('active');

                var radioId = $(this).attr('id');
                var parentChildItem = $(this).closest('.child-item');

                parentChildItem.addClass('active');

                $('.fields', parentChildItem).hide();
                $('.' + radioId.replace('Radio', '-fields'), parentChildItem).show();
            }
        });

        $('input[class="input-option"][type=radio]:checked').trigger('change');
    });

    $(document).ready(function () {
        $('.input-option').on('change', function () {
            $('.item, .child-item').removeClass('active');

            $(this).parents('.item').addClass('active');
            $(this).closest('.child-item').addClass('active');
        });
    });

</script>
