@model TransactionModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Customers.Transactions.EditTransactionDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Transactions");
}

<form asp-controller="Transaction" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Customers.Transactions.EditTransactionDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Customers.Transactions.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (Model.UserCanDelete)
            {
                <span id="transaction-delete" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

@if (Model.UserCanDelete)
{
    <nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="transaction-delete" />
}
